<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="content">Task</label>
    <input
      type="text"
      id="content"
      name="content"
      placeholder="Add task"
      [(ngModel)]="content"
    />
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn" />
</form>
