/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #30336b;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  background: #30336b;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
  background: #4834d4;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 1.25em 0.25rem;
  font-size: 1rem;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 30px;
  margin: 0.25em 0 0;
  padding: 3px 7px;
  font-size: 1rem;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
